#page #wrapper-footer-full, #page .site #wrapper-static-hero, .wp-block-button__link {
	background-color: $dsa-red;
	color: #FFF;
}

#page #wrapper-footer-full a, #page #wrapper-static-hero a {
	color: #FFF;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

.home .entry-title {
	display: none;
}

.wp-block-button__link {
	background-color: $dsa-red;
	color: #666;
}

.wp-block-button:hover .wp-block-button__link, .wp-block-button .wp-block-button__link:active {
	background-color: $dsa-yellow;
}

.is-style-outline>:where(.wp-block-button__link), :where(.wp-block-button__link).is-style-outline {
	border-color: $dsa-red;
}

.wp-block-button.is-style-outline:hover .wp-block-button__link, .wp-block-button.is-style-outline .wp-block-button__link:active {
	border-color: $dsa-yellow;
	background-color: $dsa-yellow;
	color: #FFF;
}

.wp-block-latest-posts__featured-image > img {
	border-radius: 10% 10% 0 0;
}