#page #wrapper-footer-full, #page .site #wrapper-static-hero, .wp-block-button__link {
	background-color: $dsa-red;
	color: #FFF;
}

#page #wrapper-footer-full a, #page #wrapper-static-hero a {
	color: #FFF;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

.home .entry-title {
	display: none;
}

.wp-block-button__link, .wp-block-search__button {
	background-color: $dsa-red;
	color: #fff;
	border-radius: 10%;
	border: 2px transparent;
}

.wp-block-button:hover .wp-block-button__link, .wp-block-button .wp-block-button__link:active, .wp-block-search__button:hover {
	background-color: $dsa-yellow;
}

.is-style-outline>:where(.wp-block-button__link), :where(.wp-block-button__link).is-style-outline {
	border: 2px solid $dsa-red;
}

.wp-block-button.is-style-outline:hover .wp-block-button__link, .wp-block-button.is-style-outline .wp-block-button__link:active {
	border-color: $dsa-yellow;
	background-color: $dsa-yellow;
	color: #FFF;
}

.wp-block-latest-posts__featured-image > img {
	border-radius: 10% 10% 0 0;
}

.widget-area > .widget {
	margin: 0 0 2rem 0;
}

/* Action Network 4 Wordpress Customizations */
.actionnetwork-calendar-title {
	font-weight: bold;
}

.actionnetwork-calendar-item {
	border-bottom: 1px solid #000;
}

.actionnetwork-calendar-item > a {
	display: flex;
}

.actionnetwork-calendar-date {
	flex: 1 auto;
	flex-grow: 1;
}

.actionnetwork-calendar-title {
	flex: 1 auto;
	flex-grow: 2;
}

.actionnetwork-calendar-dateMonth {
	text-align: center;
}

.actionnetwork-calendar-dateNumber {
	font-weight: bold;
	text-align: center;
}

.actionnetwork-calendar-dateName {
	text-align: center;
}

.actionnetwork-calendar-dateStarTime {
	text-align: center;
}