// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

// DSA Official Palettes
$dsa-red: #EC1F27;
$dsa-red-tint1: #F04C53;
$dsa-red-tint2: #F4797E;
$dsa-red-tint3: #F7A5A9;
$dsa-red-tint4: #FBD2D4;
$dsa-black: #231F20;
$dsa-black-tint1: #3B3838;
$dsa-black-tint2: #605C5C;
$dsa-black-tint3: #8C8989;
$dsa-black-tint4: #C1C0BF;

$primary: $dsa-red;  // Once we've changed the value, we'll also make it the primary brand color.

#wrapper-footer-full,
#wrapper-static-hero {
	background-color: $dsa-red;
	color: #FFF;
}

#wrapper-footer-full a,
#wrapper-static-hero a {
	color: #FFF;
}